@(documentList: List[Document])

@import helper._



<!DOCTYPE html>

<html>

    @head()
    <body>

        <div id="container">

            <h1>Welcome to EDIA test app</h1>

            <form method="POST" action="@routes.AppController.search()" class="form-horizontal" role="form">

                <div class="form-group">
                    <div class="col-md-4">
                        <input id="searchBox" name="searchBox" type="text">
                    </div>
                </div>

                <div id="searchButton">
                    <!--<a href="@routes.AppController.search()" class="btn btn-default">Search</a> -->
                    <input type="submit" class="btn btn-primary" value="Search" />
                </div>
            </form>

            @if(documentList == null || documentList.size() == 0) {
                <h2>Sorry, your Document list is empty</h2>
            }else{
                <h3>Available Documents</h3>
            }


            <div id="documents">
                @for(document <- documentList){
                    <h4><a class="col-md-3" href="@routes.AppController.edit(document.getId())">@document.getTitle()</a></h4>
                    <h4>score: @document.getTextScore()</h4>
                }
            </div>

            <div id="createDocument">
                <a href="@routes.AppController.create()" class="btn btn-primary">New Document</a>
            </div>
        </div>


    </body>

