@(documentList: List[Document])

@import helper._



<!DOCTYPE html>

<html>

    @head()
    <body>

        <div id="container">

            <h1>Welcome to EDIA test app</h1>

            @if(documentList == null || documentList.size() == 0) {
                <h2>Sorry, your Document list is empty</h2>
            }else{
                <h3>Available Documents</h3>
            }


            <div id="documents">
                @for(document <- documentList){
                    <h4><a href="@routes.AppController.edit(document.getId())">@document.getTitle()</a></h4>
                }
            </div>

            <div id="createDocument">
                <a href="@routes.AppController.create()" class="btn btn-primary">New Document</a>
            </div>
        </div>


    </body>

